# This file is a template for the .env file that is used by the application.
# This file is used by the application to load environment variables.
# This file should not be committed to source control.

ENV= # 'development' | 'staging' | 'production'
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPERADMIN_EMAIL=
NEXT_PUBLIC_WWW_URL=
NEXT_PUBLIC_NGL_URL=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

DISCORD_WEBHOOK_URL=

SENTRY_ORG=
SENTRY_PROJECT=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
