* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serf; 
}


body, html {
  height: 100%;
  margin: 0;
}

h1{
  position: absolute;
  left: 8%;
  right: 8%;
  bottom: 50%;
  color: white;
  font-weight: bolder;
  font-size: 110px;
  line-height: 80%;
  z-index: 3;
}

p{
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  position: absolute;
  top: 52%;
  left: 8.5%;
  right: 8.5%;
  line-height: 100%;
  z-index: 3;
}
  
.bg {
  background-image: url("img/brice.png");
  height: 100%;
  background-position: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.overlay {
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.social ul {
  position: absolute;
  top: 65%;
  left: 7.5%;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: left;
  z-index: 3;
}

.social ul li {
  font-size: 20px;
  list-style: none;
  margin: -10px 15px;
  text-align: left;

}

.social ul li .fab {color: white;}
.social ul li .fas {color: white;}
